button {
    background-color: #ee1111; /* Green */
    border: none;
    color: white;
    display: block;
    width: 100%;
    border: none;
    padding: 14px 28px;
    font-size: 64px;
    cursor: pointer;
    text-align: center;
    border-radius: 12px;
  }

  .header {
    padding: 30px;
    text-align: center;
    background: #30475E;
    color: #F05454;
    font-size: 30px;
  }
  body {
    font-family: Arial;
    margin: 0;
    background: #DDDDDD;
  }
  .center {
    margin: auto;
    width: 100%;
    padding: 10px;
    background: #222831;
    color: #DDDDDD;
  }